<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
</head>
<body>
    <h1>Use your login and password</h1>
    <nav><a href="/">Home</a>&nbsp;<a href="/login">Log in</a></nav>
    <hr>
    <form action = "/login">
        <label>login: </label><input type = "text" id="ulogin" name="ulogin" required><br>
        <label>password: </label><input type = "password" id="pass" name="pass" minlenght="8" required><br>
        <input type = "submit" value="Log in">
    </form>
</body>
</html>